:root {
	--color-white: #ffffff;
	--color-dark-text: #161012;
	--color-dark-grey: #6b7376;
	--color-text-grey: #b6bbc1;
	--color-headers: #eaeaea;
	--color-contact-hover: #e9ebeb;
	--color-light-icons: #b1b1b1;
	--color-sent-message: #d5f9ba;
	--color-notification: #8edafc;
    --background:  linear-gradient(180deg, #009688 24.99%, #DCDBD3 25%);
}
#app{
    height: 100vh;
    width: 100%;
    font-family: 'Lato', sans-serif;
    background: var(--background);
    padding: 20px;
}
.h0{
    height: 0;
}

/*  ---------------
        LEFT BAR */
#left-bar{
    background-color: var(--color-white);
}
#left-bar .col-12:first-child{
    background-color: var(--color-headers);
    height: 70px;
}
#left-bar .col-12:nth-child(2){
    background-color: var(--color-notification);
}
#left-bar .col-12:nth-child(3){
    background-color: var(--color-headers);
}
#left-bar .col-12 input{
    margin: 5px;
}

/*  ----------------
        RIGHT BAR */
#right-content .col-12:last-child, #right-content  .col-12:first-child{
    background-color: var(--color-headers);
    border-left: 1px solid var(--color-text-grey);
    height: 70px;
}
#right-content .col-12:nth-child(2){
    height: calc(100% - (70px * 2));
    background-image: url(https://images.unsplash.com/photo-1553969420-fb915228af51?auto=format&fit=crop&q=80&w=1169&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} 