::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

:root {
	--color-white: #ffffff;
	--color-dark-text: #161012;
	--color-dark-grey: #6b7376;
	--color-text-grey: #b6bbc1;
	--color-headers: #eaeaea;
	--color-contact-hover: #e9ebeb;
	--color-light-icons: #b1b1b1;
	--color-sent-message: #d5f9ba;
	--color-notification: #8edafc;
    --background:  linear-gradient(180deg, #009688 24.99%, #DCDBD3 25%);
}
#app{
    height: 100vh;
    width: 100%;
    font-family: 'Lato', sans-serif;
    background: var(--background);
    padding: 20px;
}


/*  ---------------
        LEFT BAR */
#left-bar{
    min-width: 350px;
    background-color: var(--color-white);
    max-height: 100%;
}
/* TOPBAR LEFT */
#left-bar .col-12:first-child{
    background-color: var(--color-headers);
    height: 70px;
}
.box-avatar.topbar{
    height: 50px;
    width: 50px;    

}
/* SEZIONE NOTIFICHE */
#left-bar .col-12:nth-child(2){
    background-color: var(--color-notification);
    height: 70px;
}
/* BARRA DI RICERCA */
#left-bar .col-12:nth-child(3){
    background-color: var(--color-headers);
    height: 50px;
}
/* CONTATTI */
#left-bar .col-12:last-child{
    max-height: calc(100% - 190px);
}
#left-bar .col-12 input{
    margin: 5px;
}
#left-bar ul{
    list-style: none;
    overflow-y: auto;
}
.box-avatar{
    min-width: 70px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}
.box-avatar img{
    width: 100%;
}
.active{
    background-color: var(--color-text-grey);
}

/*  ----------------
        RIGHT BAR */
#right-content{
    max-height: 100%;
    max-width: calc(100% - 350px);
}
#right-content .col-12:last-child, #right-content  .col-12:first-child{
    background-color: var(--color-headers);
    border-left: 1px solid var(--color-text-grey);
    height: 70px;
}
#right-content .col-12:nth-child(2){
    height: calc(100% - (70px * 2));
    background-image: url(https://images.unsplash.com/photo-1553969420-fb915228af51?auto=format&fit=crop&q=80&w=1169&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} 
#bottom-bar input{
    height: 40px;
}

/* MESSAGGI */
.msg{
    text-align: right;
    padding: 15px 30px 15px 10px;
    border-radius: 5px;
    max-width: 45%;
    
}
.sent{
    text-align: right;
    margin-left: auto;
    background-color: var(--color-sent-message);
}
.received{
    text-align: left;
    margin-right: auto;
    background-color: var(--color-white);
}
.date{
    font-size: 10px;
    bottom: 0;
    right: 5px;
    
}
.msg:hover i {
    opacity:50% !important;
}
.msg .dropdown{
    z-index: 1000;
    right: 25px;
    top: 0;
}

/* CURSOR POINTER */
a, li, i, .box-avatar img, .msg span{
    cursor: pointer;
}
/* HOVER */
#left-bar li:hover{
    background-color: var(--color-contact-hover);
}


/* MEDIA QUERY */
@media screen and (max-width: 768px) {
    #right-content{
        display: none;
    }
 }
